@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

*, body
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#ContenedorPrincipal
{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#Formulario
{
    height: 500px;
    width: 400px;
    background-color: rgb(15, 7, 131);
}

#Formulario ul
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#Formulario ul li
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Formulario ul li label
{
    width: 6em;
    text-align: center;
    font-size: 1.5em;
    color: #FFFFFF;
}

#btnLogin
{
    padding: 1em 3em;
    background-color: rgb(139, 122, 22);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 1em;
}

.txtLogin
{
    border: none;
    padding: 0.4em 1em;
    border-radius: 0.5em;
    background-color: rgb(121, 192, 255);
    color: #FFFFFF;
}